[tabindex='-1']:focus
	outline: none !important;


// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button']
	cursor: pointer;


// Мы любим Сафари (на самом деле, нет).
input[type='search']
	-webkit-appearance: textfield;


// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea
	touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
	margin: 0;                  // Убираем margin в Firefox и Safari


button,
input
	overflow: visible;    // Покажем торчащее в Edge
	text-transform: none; // Уберём наследование text transform в Firefox

button,
html [type="button"],
[type="reset"],
[type="submit"]
	-webkit-appearance: button; // Коррекция проблем стилизации для Safari


button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner
	padding: 0;
	border-style: none;

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"]
	-webkit-appearance: listbox; // Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)


textarea
	overflow: auto;   // Удаление верт. скролла в IE.
	resize: vertical; // Правильное изменение размеров


svg
	a &,
	button &
		pointer-events: none; // Мы любим Edge, это браузер! (почти)
	&:not(:root)
		overflow: hidden; // Скрыть выступающее за границы в IE

img
	max-width: 100%;
	height: auto;

a {
	color: #fff;
	background-color: transparent;
	text-decoration-skip: ink;
	-webkit-text-decoration-skip: objects;
	transition: color 0.3s;
	text-decoration none

	&:hover,
	&:focus {
		text-decoration underline
	}

	&:visited {
		text-decoration underline
	}
}

hr
	box-sizing: content-box; // Проблема Firefox
	overflow: visible;       // Проблема Edge и IE
*
	padding 0
	margin 0
canvas
	background #eee
	display: block
	margin 0 auto