head
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimum-scale=1.0, shrink-to-fit=no")
	title snake
	link(rel="stylesheet", href="../css/style.css")
	link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
	link(rel="icon", href="favicon.ico", type="image/x-icon")
	//- link(rel='manifest', href='/manifest.json')
	meta(name='msapplication-TileColor', content='#000000')
	meta(name='theme-color', content='#000000')